@charset "utf-8";
/* CSS Document */
body {
	margin:0%;
	position:absolute;
	/*background-color:#7FB6BC;*/
	width:100%;
	height:3000%;
}

#sky {
	
	width:150%;
	height:auto;
	position:fixed;
	z-index:1;	
}

#backHills {
	width:300%;
	height:auto;
	/*background-color:#96CA2D;*/
	position:fixed;
	top:25%;
	z-index:5;
	left:-0.0007%;
}

#frontHills {
	width:200%;
	height:auto%;
	/*background-color:#B5E605;*/
	position:fixed;
	top:40%;
	z-index:1000;
	left:-0.002%;
}

#topFootpath {
	position:fixed;
	top:74%;
	width:120%;
	height:10%;
	background-color:#A5A5A5;
	z-index:3000;
	left:-20%;
}

#roadSign {
	position:fixed;
	/*left:99%;*/	
	top:48%;
	z-index:4000;
	width:12%;
	height:auto;
}

#ground {
	width:150%;
	height:14%;
	background-color:#2A2c2b;
	position:fixed;
	top:80%;
	z-index:5000;
	left:-20%;
}

#myCar {
	position:fixed;
	width:30%;
	height:auto;
	/*background-color:#C71E21;*/
	top:61%;
	left:37%;
	z-index:6000;
}

#bottomFootpath {
	position:fixed;
	top:94%;
	width:120%;
	height:10%;
	background-color:#A5A5A5;
	z-index:7000;
	left:-20%;
}

#cliffsText {
	position:fixed;	
	z-index:2000;
}

#cliffsBackground {
	text-align:center;
	position:fixed;
	top:10%;
	width:25%;
	height:auto;
	z-index:1999;	
}

#cliffsImage {
	text-align:center;
	position:fixed;
	top:10%;
	width:25%;
	height:auto;
	z-index:2000;
}

#cliffsTitle {
	text-align:center;
	position:fixed;
	top:10%;
	width:25%;
	height:auto;
	z-index:2001;
}

#malinBackground {
	text-align:center;
	position:fixed;
	top:10%;
	width:25%;
	height:auto;
	z-index:1999;		
}

#malinText {
	position:fixed;	
	z-index:2000;
}

#malinImage {
	text-align:center;
	position:fixed;
	top:10%;
	width:25%;
	height:auto;
	z-index:2000;
}

#malinTitle {
	text-align:center;
	position:fixed;
	top:10%;
	width:25%;
	height:auto;
	z-index:2001;
}

#welcomeImage {
	position:fixed;
	width:100%;
	height:auto;
	left:29%;
	top:30%;
	z-index:10000;
}







h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
	color:#FFFFFF;	
}

h2 {
	font-family: 'Gloria Hallelujah', cursive;
	color:white;
	font-size:30px;	
}

.resize {
 	width:70%;
	height:auto;
}